<%- include ('partials/navbar.ejs')%>
    <%- include ('partials/header.ejs') %>


    <h1 class="bv">Bem-vindo ao Mercadinho!</h1>
    <hr>
    <p class="p1">Utilize a navbar para navegar pela loja</p>   

    <%- include ('partials/footer.ejs') %>

    

    <img src="/images/nodejs-new-pantone-black.png" alt="">