<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<h1>Bem-vindo a Loja!</h1>
<hr>
<p>Use a navbar para navegar sobre a página...</p>   

<%- include ('partials/footer.ejs') %>

<!--Importando imagem da pasta public-->

<img src="/images/nodejs-new-pantone-black.png" alt="">