<%- include ('partials/navbar.ejs')%>
    <%- include ('partials/header.ejs') %>


    <h1>Bem-vindo a homepage!</h1>
    <hr>
    <p>Utilize a navbar para navegar pela loja</p>   

    <%- include ('partials/footer.ejs') %>

    

    <img src="/images/nodejs-new-pantone-black.png" alt="">