.img_cliente{
    max-height: 50px;
}

.custom-navbar{

    background-color: #3c2615;
}
.principal {
    height: 200px;
    width: 100%;
    background-image: url("/images/mercadinho.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    background-color: #FBECCE;
}

.bv{
    color: black;
}

.p1{
    font-size: 2rem;
    color: black;
}

